<div class="col-5">
  <span>LV</span>
  <span class="float-right"><%= @brave.level %></span>
</div>
<div class="col-5">
  <span>HP</span>
  <span class="float-right"><%= @brave.max_hp %></span>
</div>
<div class="col-5">
  <span>攻</span>
  <span class="float-right"><%= @brave.offense %></span>
</div>
<div class="col-5">
  <span>防</span>
  <span class="float-right"><%= @brave.defense %></span>
</div>
<div class="col-12">
  <span>EXP</span>
  <span class="float-right"><%= @brave.exp %></span>
</div>