<%# 3グロック＋２モーダル %>

<%# ステータタスブロック %>

<div class="game-font">
  <%= render 'braves/modal' %>
  <%= render 'games/battle/modal' %>
  <%= render 'games/status/top' %>
  <%= render 'games/monster/top' %>
  <%= render 'games/message/top' %>
</div>

